h1 {
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    margin-bottom: 5px;
}
.title-fallback {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    cursor: pointer;
}