<div class="normal-menu">
<ul>
    <li fxShow fxHide.xs="true" routerLink="/">Home</li>
    <li ngClass="normal-menu-li" [ngClass.xs]="{'normal-menu-li': false, 'xs-menu-li': true}" routerLink="/bio">Bio</li>
    <li ngClass="normal-menu-li" [ngClass.xs]="{'normal-menu-li': false, 'xs-menu-li': true}" routerLink="/resume">Resume</li>
    <li ngClass="normal-menu-li" [ngClass.xs]="{'normal-menu-li': false, 'xs-menu-li': true}" routerLink="/projects">Projects</li>
    <li ngClass="normal-menu-li" [ngClass.xs]="{'normal-menu-li': false, 'xs-menu-li': true}" routerLink="/posts">Words</li>
</ul>
</div>
